<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Remove HOME + DEFAULT below to test without taking over the home screen -->
    <application android:testOnly="true">
        <receiver
            android:name=".debug.DebugDeviceProfileReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="one.globalconnect.xtmsagent.DEBUG_APPLY_DEVICE_PROFILE" />
                <action android:name="one.globalconnect.xtmsagent.DEBUG_SET_KIOSK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.DebugDeviceOwnerControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="one.globalconnect.xtmsagent.DEBUG_CLEAR_DEVICE_OWNER" />
                <action android:name="one.globalconnect.xtmsagent.DEBUG_SET_FACTORY_TMS_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".recovery.StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>
    </application>

</manifest>
